<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sping020_moreBasics/src/main/java/com/jpm/hr/tests/TestSpringFactory.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jpm.hr.tests.TestSpringFactory"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sping020_moreBasics"/>
</launchConfiguration>
